.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #0B7C4D;
    background-size: inherit;
    
}

.form-user-infor {
    @apply flex flex-col p-6 ml-14 rounded-lg;
    border: 1px solid #60bd96;


}

.title-user-infor {
    @apply text-center text-white font-bold ml-14 mb-4 py-1 rounded-lg;
    background-image: linear-gradient(to bottom, #0B7C4D ,#34E89E);
}

.btn-add-avatar {
    @apply absolute bottom-[70px] right-[10px] bg-slate-200 border-2 rounded-full p-2 border-gray-200;
}

.label-user-infor {
    width: 200px;
    
}

.item-user-infor {
    @apply flex my-2;
}
.input-user-infor{
    width: 300px;
}