.side-bar {
    @apply border-2 p-5 w-1/6;
    box-shadow: 3px 3px #c4c4c4;
    
}
.item-side-bar {
    @apply p-0 pb-3;
    color: #0B7C4D;
}

.item-side-bar:hover {
    text-shadow: 1px 1px 5px rgb(150, 201, 150);
}